.cards
	display: flex
	justify-content: space-between
	margin-top: 120px

.card	
	max-width: 45%
	width 100%

form
	max-width 200px
	margin: 0 auto

.winner
	app-people-card, app-vehicle-card
		display: block
		border: 6px solid green

